ul {
    list-style-type: none;margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400px;
    background-color: #FFFFFF;
}
    
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
}
img {
    display: block;
}

button {
    cursor: pointer;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.logotype,
.logo-span-one,
.logo-footer,
.logo-span-footer,
.list,
.link {
    text-decoration: none;
    list-style-type: none;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

address {
    font-style: normal;
}
    .list {
    list-style-type: none;
}
    .link {
    text-decoration: none;
}
.nav-link {
    text-decoration: none;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    padding: 0 15px;
}





/*<!--MOBILA-->*/
/*<!--PAGE HEADER-->*/

.page-header {
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    border-bottom: 1px solid #e7e9fc;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    }

   
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logotype-span {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logotype {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #404bbf;
    margin-right: 76px;
}

.list {
    display: flex;
    margin-right: 40px;

}

.made-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)  
} 

.menu-link studio {
    color: #404bbf;
   
}

.menu-link-link  {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
}

.menu-link  {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .studio {
        position:relative;
        color: #404BBF;
             
    }
    
    .studio::after {
        display: block;
        position:absolute;
        content: "";
        width: 100%;
        height: 4px;
        bottom: -1px;
        border-radius: 2px;
        background-color: #404bbf;
    }

.menu-link:hover, 
.menu-link:focus {
    color: #404bbf;
}

.current-page {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404BBF;
}

.current-page::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 48px;
    border-radius: 2px;
    background-color: #404BBF;
    content: "";
}

.menu-contakt {    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
}

.menu-contakt:hover {
    color: #404BBF;

}

.menu-contakt:focus {
    color: #404BBF;
}  

.list {
    display: flex;
    gap: 40px; 
}

.address {
    font-style: normal;
} 

.address-list {
    display: flex;
    gap: 40px                       ;
}

.address-made-item {
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-made-item:hover,
.address-made-item:focus {
    color: var(--hover-color);
}

 /*<!-- HERO SECTION 1-->*/


.section {
    height: 432px;
    max-width: 767px;
    margin-right: auto;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
    
    @media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-device-pixel-ratio: 2) {
        .section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
         rgba(46, 47, 66, 0.70)), url(../images/people-office-mobile@2x.jpg);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         text-align: center;
               }
            }
    

.main-head {
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    
}
  
   .button-action {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.button-action:hover, .button-action:focus {
    background-color: #404BBF;
} 

.button-action {
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    color: #FFFFFF;

}

/*<!--OUR BENEFITS 2-->*/

.made-benefits {
    display: none;
   }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

} 

.made-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;

}

*/
.icon-container {
    display: flex; 
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 8px; 
    border: 1px solid #8e8f99;
    background: #F4F4FD;
    align-items: center; 
    justify-content: center;
}

.icon{
    
    flex-shrink: 0;
    height: #4d5ae5, #2e2f42;
    margin-left: 100px;
    margin: 24px;
}


.made-menu-item-name {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42;

}

.made-menu-item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/*<!--INGREDIENTS SECTION 3-->*/

.workers-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
}

.workers-background {
    background-color: #F4F4FD;
}

.workers-person {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.workers-head {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;

}

.workers-app {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: auto;
    margin-left: auto;

}
.workers-positions {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.workers-names,
.portfolio-main-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
  .workers-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.workers-button-list-icon-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-liton-liton:hover,
.button-liton-liton:focus {
    background-color: #404bbf; 
}


.workers-button-icon {
    fill: #F4F4FD;
}


.portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
   
}
.portfolio-list-item {
    border: 1px solid #F4F4FD;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover, 
.portfolio-list-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
    width: 288px;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-text-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-list-item:hover .overlay-text {
    transform: translateY(0%);
}
.portfolio-portfolio {
    position: relative;
    overflow: hidden;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }




 /*<!--PAGE FOOTER-->*/

 .footer-block {
    background-color: #2E2F42;
    width: 100%;
    height: 664px;

}

.footer-conteinet container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 17px;
    margin-bottom: 72px;

}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-span {
    color: #F4F4FD;
}

.footer-paragraph {
    width: 288;
    height: 72px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.container-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    margin-bottom: 72px;

}
.footer-paragraph-paragraf,
.form-send-title
 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
}
.workers-workers-button {
    gap: 16px;
}

.button-button-liton-liton:hover,
.button-button-liton-liton:focus
 {
    background-color: #31D0AA;
}
.form-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;

}
.form-send-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;

}
.form-send-label-input {
    width: 288px;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #FFF;
    opacity: 0.3;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background: transparent;
}
.form-send-label-button   {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send-label-icon {
    margin-left: 16px;
    }


    
/*<!--BACKDROP-->*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
     
  }

/*<!--MODAL WINDOW-->*/

.backdrop is-open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 632px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, 
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}
.modal-close-btn:hover.modal-close-btn-icon,
.modal-close-btn:focus.modal-close-btn-icon {
    fill: #FFFFFF;
}

.modal-close-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*<!--REVIEW FORM STYLES-->*/

.review-fors-description {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: #8E8F99;
}

.review-form-input-wrapper {
    margin-bottom: 8px;
}

.review-form-field-wrapper {
    margin-bottom: 8px;  
}
.review-form-field {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}
.review-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.review-form-field:focus + .review-form-field-icon  {
    fill: #4D5AE5;
}
.review-form-field-comment {
    margin-bottom: 16px;
}
.user-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.40);
}

.user-textarea::placeholder {
color: rgba(46, 47, 66, 0.40);
}
.user-textarea:focus {
    border-color: #4D5AE5;
    outline-color: transparent;
    outline-offset: 4px;
}
.review-form-checkbox-wrapper {
    margin-bottom: 24px; 
}
.privacy-policy-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    border-radius: 2px;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.privacy-policy-link-link {
    color: #4d5ae5; 
}

.review-form-checkbox:checked+.review-form-checkbox-label,.privacy-policy-link {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}
.review-form-button  {
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-button:hover,
.review-form-button:focus {
    background-color: #404BBF; 
}


@media screen and (max-widht: 767px) {
}
        
.mobile-page-header-container {
        display: block;
        padding-top: 72px;
        margin-bottom: 168px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.mobile-made-item :last-child {
    margin-bottom: 40px;
}
.mobile-address-made-item :last-child {
    margin-bottom: 24px;
}
.mobile-menu-contakt {
    display: block;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        font-style: normal;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #434455;

}
.mobile-menu-contakt {
    color: #4D5AE5;
}

.mobile-workers-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.mobile-button-liton-liton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-button-liton-liton:hover,
.mobile-button-liton-liton:focus {
    background-color: #404bbf;
}

.mobile-workers-button-icon {
    fill: #F4F4FD;
}

@media screen and (min-width: 320px) {
    .container {
        width: 318px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }
    .mobile-menu {
        display: none;
    }
    .logotype {
        margin-right: 120px;
    }
.page-navigation {
    display: flex;
    align-items: center;

}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link studio {
    position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404BBF;
}
    ..menu-link studio::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        content: "";

    }

    .address {
display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
        font-style: normal;

    }

    .menu-contakt {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        font-style: normal;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #434455;
        }
    
        .menu-contakt:hover,
        .menu-contakt:focus {
        color: #404BBF;
    }

    .section {
        height: 436px;
        max-width: 768px;
        padding-bottom: 112px;
        padding-top: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-tabletne1.jpg);
    }
}
    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-tabletne1@2x.jpg);
        }
    

.main-head {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;

}

.made-menu, .workers-menu, .portfolio-list {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;

}
.benefits-list-item, .portfolio-list-item {
    width: calc((100% - 24px) / 2);
}

.made-menu-item-name {
    text-align: left;
}

.portfolio-list {
    row-gap: 72px;
}

.portfolio-img {
    width: 356px;
    height: 300px;
}
.footer-block {
    height: 456px;
}

.footer-conteinet container,
.form-form, .conteiner-container {
    justify-content: flex-start;
    align-items: flex-start;
}
.container page-header-container {
    display: flex;
    flex-direction: row;
    padding-left: 108px;
    flex-wrap: wrap;
    column-gap: 24px;
}

.footer-paragraph {
    width: 264px; 
}

.form-send-form {
    flex-direction: row;
    column-gap: 24px;
}

.form-send-label-input {
    width: 264px;
}
.modal {
    width: 408px;
}
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .logotype {
        margin-right: 76px;
    }

    .address {
        flex-direction: row;
        gap: 40px;
    }

    .section {
        height: 600px;
        max-width: 1440px;
        padding-bottom: 188px;
        padding-top: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/people-office-desktop.jpg);
    }
    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/people-office-desktop@2x.jpg);
        }
    }
    .main-head {
        margin-bottom: 48px;
    }

    .made-menu, .workers-menu {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .made-menu-item, .workers-person {
        width: calc((100% - 3 * 24px) / 4);
    }

    .made-benefits {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        padding: 24px 100px;
        margin-bottom: 8px;
        background: #F4F4FD;
    }

    .made-menu-item-name {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        color:#2E2F42;
    }

    .made-menu-item-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
    }

    .portfolio-list-item {
        width: calc((100% - 2 * 24px) / 3);
    }

    .portfolio-img {
        width: 360px;
        height: 300px;
    }

    .footer-block {
        padding-top: 100px;
        padding-bottom: 100px;
        height: 312px;
    }

    .footer-conteinet {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .container page-header-container {
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        align-items: baseline;
        column-gap: 0;
    }

    .container-container {
        margin-right: 80px;
        margin-bottom: 0;
    }

    .form-send-form {
        display: flex;
        row-gap: 16px;
        column-gap: 24px;
    }
}
